.main-header {
    width: 100%;
    height: 200px;
    background: #444544;
}


.center-pane {
  width: 66%;
  height: 1024px;
  background: #e9e9e8;
  position: relative;
  margin: auto;
}

.center-pane-footer {
  width: 100%;
  height: 10%;
  background: #121112;
  position: absolute;
  bottom: 0;
}

body {
  background: #afafaf;
}
